<div class="mx-[4rem] mt-10">
  <button class="mb-4 text-lg text-primary-color-500 flex items-center text-center" [routerLink]="['/account']">
    <span class="material-symbols-outlined font-bold text-[22px] mr-2">arrow_back</span>
    <p class="hover:underline">Ga terug naar account</p>
  </button>
  <div class="w-full grid grid-rows-1 grid-cols-2">
    <div class="row-span-1 row-start-1 col-span-1 col-start-1">
      <h1 class="text-primary-color-800 text-4xl font-bold underline-offset-2 underline">Producten</h1>
    </div>
    <div class="row-span-1 row-start-1 col-span-1 col-start-2">
      <button [routerLink]="['new']" class="bg-primary-color-500 text-white rounded text-base font-bold px-1 py-2 float-right hover:bg-secondary-color">
        <span class="material-symbols-outlined inline-block align-top mt-1 ml-2">add</span>
        <p class="inline-block align-top text-lg ml-1 mr-3">Nieuw product</p>
      </button>
    </div>
  </div>
  <div class="grid grid-rows-1 grid-cols-12 border-2 border-primary-color-800 h-[3.5rem] font-bold text-xl bg-secondary-color text-white mt-4">
    <div class="col-span-3 col-start-1 border-r-2 border-primary-color-800 ml-1">
      <p class="pl-2 pt-2.5">Id</p>
    </div>
    <div class="col-span-2 col-start-4 border-r-2 border-primary-color-800 ml-1">
      <p class="pl-2 pt-2.5">Naam</p>
    </div>
    <div class="col-span-1 col-start-6 border-r-2 border-primary-color-800 ml-1">
      <p class="pl-2 pt-2.5">Categorie</p>
    </div>
    <div class="col-span-1 col-start-7 border-r-2 border-primary-color-800 ml-1">
      <p class="pl-2 pt-2.5">Prijs</p>
    </div>
    <div class="col-span-2 col-start-8 border-r-2 border-primary-color-800 ml-1">
      <p class="pl-2 pt-2.5">Naam foto</p>
    </div>
    <div class="col-span-3 col-start-10 ml-1">
      <p class="pl-2 pt-2.5">Beschrijving</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <admin-product-list-item
        [product]="product"
        [index]="i"
        *ngFor="let product of products; let i = index"></admin-product-list-item>
    </div>
  </div>
</div>
