<div (click)="openDetails()" class="border-2 bg-tertiary-color border-primary-color-500 rounded-lg p-4 mb-4 shadow">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold text-primary-color-800">Bestelling #{{ order.id }}</h1>
    <span class="text-base font-bold text-dark-secondary-color">{{ order.orderDate | date:'EEEE d MMMM y HH:mm' }}</span>
  </div>
  <div class="mt-2">
    <p class="text-lg text-primary-color-800 font-semibold">
      Totale prijs:
      <span class="text-dark-secondary-color font-bold">{{ order.totalPrice | currency:'EUR' }}</span>
    </p>
    <p class="text-base text-primary-color-800 font-semibold">
      Status:
      <span class="text-dark-secondary-color font-bold">{{ order.status }}</span>
    </p>
  </div>
</div>
