<div class="w-full">
  <div class="flex items-center justify-center mt-20">
    <div class="flex flex-col bg-tertiary-color border-primary-color-500 border-4 p-8 rounded-lg shadow-lg w-[26rem] text-white">
      <h1 class="text-3xl font-semibold mb-4 text-center">Account aanmaken</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-base text-white mb-1">Email</label>
          <div *ngIf="registerForm.get('email')?.hasError('email') && isSubmitted">
            Email is invalid.
          </div>
          <input formControlName="email" type="text" required class="w-full p-3 rounded bg-accent-color text-primary-color-800 border border-primary-color-500 focus:outline-none">
        </div>
        <div class="mb-4">
          <label class="block text-base text-white mb-1">Wachtwoord</label>
          <div *ngIf="registerForm.get('password')?.hasError('password')">
            Password must contain at least 1 uppercase letter, 1 number, and 1 special character.
          </div>
          <input formControlName="password" type="password" required class="w-full p-3 rounded bg-accent-color text-primary-color-800 border border-primary-color-500 focus:outline-none">
        </div>
        <div class="mb-4">
          <label class="block text-base text-white mb-1">Bevestig Wachtwoord</label>
          <input formControlName="confirmPassword" type="password" required class="w-full p-3 rounded bg-accent-color text-primary-color-800 border border-primary-color-500 focus:outline-none">
        </div>
        <button type="submit" class="w-full text-center bg-primary-color-500 hover:bg-secondary-color text-white font-semibold p-3 rounded" [disabled]="!registerForm.valid">
          Registreren
        </button>
      </form>
      <div class="mt-4">
        <p>Heb je al een account? <a [routerLink]="['/login']" class="underline-offset-1 text-base text-primary-color-500 hover:underline hover:text-primary-color-800">Log dan in!</a></p>
      </div>
    </div>
  </div>
</div>
