<div class="w-[50%] m-auto mt-16">
  <div class="mb-8">
    <h1 class="text-primary-color-800 text-3xl font-semibold">Admin portaal</h1>
  </div>
  <div>
    <button [routerLink]="['/admin/manage-products']" class="text-white text-2xl font-semibold bg-primary-color-500 px-5 py-20 rounded-xl mr-5 hover:bg-secondary-color">
      <h1>Beheer producten</h1>
    </button>
    <button [routerLink]="['/admin/manage-categories']" class="text-white text-2xl font-semibold bg-primary-color-500 px-5 py-20 rounded-xl ml-5 hover:bg-secondary-color">
      <h1>Beheer categorieën</h1>
    </button>
  </div>
</div>
